.add-input{
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0;
  min-height: 3rem;
  /* min-width: 15rem */
}

.add-input-description{
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0;
  min-height: 6rem;
  /* min-width: 15rem; */
}

.add-todo-btn{
  padding: 0.5rem;
  border: 0;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  /* min-width: 20rem; */
}

.add-todo-btn:hover{
  background-color: #0056b3;
  transition: background-color 0.3s ease;
}


.home-container {
  margin: 0 auto; /* центрирует */
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-todo {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
}


.todo-list-home{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%
}
