.todo-list {
  display: grid;
  gap: 1rem;
    grid-template-columns: repeat(var(--cols), minmax(200px, 1fr));
}

.todo-wrapper{
  background-color: #f0f0f040;
  border-radius: 1rem;
  padding: 1rem;
  max-height: 200px;
  overflow: hidden;
  display: flex;
}

.todo-list-archive {
  display: grid;
  grid-template-columns: repeat(var(--cols), minmax(200px, 1fr));
  gap: 1rem;
}

/* Адаптив для планшетов */
@media (max-width: 900px) {
  .todo-list {
    gap: 0.75rem;
    grid-template-columns: repeat(var(--cols), 1fr);
  }

  .todo-list-archive {
    grid-template-columns: repeat(var(--cols), 1fr);
    gap: 0.75rem;
  }

  .todo-wrapper {
    max-width: 100%;
    padding: 0.75rem;
  }
}

/* Адаптив для мобильных */
@media (max-width: 600px) {
  .todo-list {
    gap: 0.5rem;
  }

  .todo-list-archive {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .todo-wrapper {
    max-width: 100%;
    max-height: 250px;
    padding: 0.75rem;
  }
}

